body {
	font-family: 'Comfortaa', cursive;
	background-color: #333;
	color: #fff;
	font-size: 36px;
	font-family: 'Comfortaa', cursive;
}
img {
	display: block;
	width: 800px;
	border-radius: 25px;
	margin: 0 auto;
}

p {
	color: lime;
}
.tomato {
	color: tomato;
	text-decoration: underline;
}
