* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Comfortaa', cursive;
	color: #fff;
	background-color: #333;
	font-size: 36px;
}

h3 {
	padding: 40px;
	margin-bottom: 50px;
	text-decoration: uppercase;
}
div {
	margin-bottom: 50px;
	color: lime;
}
p,
span {
	padding: 30px 50px;
}
div p {
	color: lime;
}
