* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 20px;
	font-size: 36px;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	background-color: #333;
	color: #fff;
	overflow: hidden;
}

div {
	width: 500px;
	height: 500px;
	/* background-color: gold; */
	/* background-color: rgb(215, 146, 255); */
	/* background-color: hsl(350, 100%, 50%); */
	/* background-color: #000; */
	background-color: rgba(215, 146, 255, 0.35);
}
