* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.hero-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}
.hero-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}
.hero-text h1 {
	margin-bottom: 5px;
	text-shadow: 3px 3px 5px #000;
}
.hero-text span {
	text-transform: uppercase;
	color: #09f;
}
.section-title {
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align: center;
}
nav {
	height: 60px;
	line-height: 60px;
	background-color: #ddd;
	text-align: center;
}

.burger-icon {
	display: block;
	margin-left: auto;
	padding: 0 30px;
	line-height: 60px;
	font-size: 30px;
	background: none;
	border: none;
	cursor: pointer;
}
.nav-items {
	display: none;
}

.header {
	position: relative;
	background-image: url('../img/hero-small.jpg');
	height: 330px;
	background-size: cover;
}
main {
	margin: 60px 0;
}
.about-us-info {
	margin-bottom: 10px;
}
.products {
	margin: 60px auto;
}
.product h3 {
	text-transform: uppercase;
}
.first-product {
	position: relative;
	height: 300px;
	background-image: url('../img/children.jpg');
	background-size: cover;
	background-position: center;
	text-align: center;
}
@media (min-width: 768px) {
	.burger-icon {
		display: none;
	}
	.nav-items {
		display: block;
	}
	.nav-items a {
		padding: 0 30px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		color: #333;
		transition: color 0.3s;
	}
	.nav-items a:hover {
		color: #09f;
	}
	.header {
		height: 400px;
		background-image: url('../img/hero-big.jpg');
	}
	.hero-text h1 {
		font-size: 36px;
	}
	.hero-text p {
		font-size: 18px;
	}
}
@media (min-width: 1200px) {
	.hero-text h1 {
		font-size: 42px;
	}
	.hero-text p {
		font-size: 20px;
	}
}
