* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 50px;
	font-family: 'Comfortaa', cursive;
	color: #fff;
	background-color: #333;
	font-size: 36px;
}

a {
	color: #fff;
	text-decoration: none;
}
a:link {
	color: lime;
}
a:visited {
	color: tomato;
}
a:hover {
	color: blue;
}
a:active {
	background-color: chartreuse;
}
