* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 50px;
	font-family: 'Comfortaa', cursive;
	color: #fff;
	background-color: #333;
	font-size: 36px;
}
main {
	margin-top: 200px;
}
div {
	margin: 0 auto;
	height: 200px;
	width: 600px;
	border: 3px solid black;
}
.red {
	background-color: tomato;
}
.blue {
	position: relative;
	top: 100px;
	left: 50px;
	margin: 20px auto;
	background-color: royalblue;
	z-index: -1;
}
.green {
	background-color: greenyellow;
}
