* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 36px;
	font-family: 'Comfortaa', cursive;
	color: #fff;
	background-color: #333;
}
.box {
	width: 600px;
	height: 600px;
	background: lime;
}
.inside {
	/* width: 300px; */
	width: 50vw;
	/* height: 300px; */
	height: 10vh;
	background: royalblue;
}
