* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #333;
}
.long {
	position: absolute;
	top: 250px;
	left: 50px;
	width: 150px;
	height: 600px;
	padding: 10px;
	background-color: tomato;
	overflow: hidden;
	transition: height 0.3s;
}
.long:hover {
	height: 200px;
}
.big {
	position: absolute;
	top: 250px;
	right: 50px;
	height: 600px;
	width: 800px;
	background-color: royalblue;
}
.child {
	height: 200px;
	border: 3px solid black;
	transition: background-color 1s;
}
.first + div {
	background-color: lime;
}
.first:hover ~ .child {
	background-color: gold;
}
