* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Nunito', sans-serif;
	background-color: #333;
	font-size: 36px;
	color: #fff;
}

.square {
	position: absolute;
	/* top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	top: calc(50% - 100px);
	left: calc(50% - 100px);
	width: 200px;
	height: 200px;
	border-radius: 25px;
	background-color: rgb(0, 119, 255);
}
