* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 80px;
	font-size: 36px;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	background-color: #333;
	color: #fff;
}
i {
	color: yellowgreen;
}
