* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Nunito', sans-serif;
	background-color: #333;
	height: 100vh;
	font-size: 48px;
}
.square {
	width: 50%;
	height: 50%;
	margin: 300px auto;
	background-color: royalblue;
	border: 3px solid black;
	border-radius: 25px;
}
@media (min-width: 500px) and (max-width: 600px) {
	.square {
		background-color: gold;
	}
}
