* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 10px;
}
body {
	font-family: 'Comfortaa', cursive;
	color: #fff;
	background-color: #333;
}
.box {
	max-width: 600px;
	min-width: 400px;
	width: 100%;
	height: 500px;
	background-color: gold;
}
