* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Nunito', sans-serif;
	background-color: #333;
}
header {
	height: 150px;
	background-color: gold;
}
nav {
	height: 100px;
	background-color: tomato;
}

main {
	height: 300px;
	width: 70%;
	background-color: greenyellow;
	float: left;
}
aside {
	height: 300px;
	width: 30%;
	background-color: royalblue;
	float: left;
}
footer {
	height: 100px;
	background: #000;
}
