* {
	/* box-sizing: border-box; */
	margin: 0;
	padding: 0;
}

body {
	/* margin: 50px; */
	font-family: 'Comfortaa', cursive;
	color: #fff;
	background-color: #333;
	font-size: 36px;
}

.square {
	display: inline-block;
	width: 300px;
	height: 300px;
	/* padding: 20px; */
	/* padding: 20px 30px; */
	/* padding: 20px 30px 40px; */
	padding: 20px 30px 40px 50px;
	border: 10px solid black;
	margin: 20px;
}
.content {
	background-color: royalblue;
	/* default */
	box-sizing: content-box;
}
.border {
	box-sizing: border-box;
	background-color: lime;
}
