* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 50px;
	font-family: 'Comfortaa', cursive;
	color: #fff;
	background-color: #333;
	font-size: 36px;
}

.square {
	width: 300px;
	height: 300px;
	background-color: royalblue;
	/* border: 10px solid lime; */
	border-top: 5px solid #000;
	border-bottom: 5px solid lime;
	border-radius: 50%;
}
