* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Nunito', sans-serif;
	background-color: #333;
	font-size: 36px;
	color: #fff;
}

.square {
	position: absolute;
	left: 50%;
	width: 200px;
	height: 200px;
	transform: translateX(-50%);
	background-color: rgb(0, 153, 255);
	border: 2px solid rgb(0, 77, 127);
	box-shadow: 0 0 15px rgb(0, 153, 255);
	border-radius: 25px;
	/* transition: all 0s ease 0s; */
	transition: 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.square:hover {
	background-color: rgb(255, 0, 255);
	box-shadow: 0 0 15px rgb(255, 0, 255);
	width: 350px;
}
.one {
	top: 15%;
}
.two {
	top: 40%;
}
.three {
	top: 65%;
}
