* {
	margin: 0;
	padding: 0;
}

body {
	margin: 80px;
	font-size: 36px;
	height: 100vh;
	font-family: 'Montserrat', 'sans-serif';
	background-color: #333;
	color: #fff;
}

p {
	font-family: Arial, Helvetica, sans-serif;
}

.sans-serif {
	font-family: sans-serif;
}
.monospace {
	font-family: monospace;
}
.cursive {
	font-family: cursive;
}
