* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Nunito', sans-serif;
	background-color: #333;
	height: 100vh;
	font-size: 48px;
}
.square {
	width: 300px;
	height: 300px;
	background-color: gold;
}

@media (min-width: 500px) {
	.square {
		background-color: royalblue;
	}
}
@media (min-width: 700px) {
	.square {
		background-color: lime;
	}
}
@media (min-width: 550px) and (max-width: 850px) {
	.square {
		width: 450px;
	}
}
@media (min-width: 800px) {
	body {
		background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
	}
}
