* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
}
.header-img {
	position: relative;
	height: 300px;
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-position: 0 50%;
}
.header-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	z-index: 1;
}
.header-text h1 {
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.header-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 3, 27, 0.4);
}
.nav {
	height: 50px;
	background-color: #333;
	text-align: center;
	line-height: 50px;
	font-size: 0;
}
.nav-item {
	display: inline-block;
}
.nav-item a {
	padding: 0 50px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 2px;
	transition: color 0.3s;
}
.nav-item a:hover {
	color: #0086f3;
}
main {
	margin: 50px auto;
	width: 1200px;
}
main h2 {
	margin-bottom: 30px;
	text-transform: uppercase;
	text-align: center;
}
.about-us-box {
	position: relative;
	height: 300px;
	margin: 40px 0;
	background-attachment: fixed;
	background-position: center;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	overflow: hidden;
}
.top {
	background-image: url('../img/coffee.jpg');
}
.middle {
	background-image: url('../img/mobile-phone.jpg');
}
.bottom {
	background-image: url('../img/office.jpg');
}
.about-us-text {
	position: absolute;
	bottom: 20px;
	padding: 20px 40px;
	text-align: center;
	color: #fff;
}
.about-us-bg {
	position: absolute;
	bottom: 0;
	height: 45%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}
.about-us-text h3 {
	margin-bottom: 10px;
	text-transform: uppercase;
}
.services-list {
	margin: 0 auto;
	width: 200px;
}
.prices-table {
	margin: 0 auto;
}
.prices-table td {
	padding: 10px 30px;
}
.contact-info {
	text-align: center;
	font-size: 36px;
}
.contact-info .fas {
	margin-right: 10px;
}
footer {
	height: 80px;
	line-height: 80px;
	background-color: #333;
	color: #ddd;
	text-align: center;
	font-size: 20px;
}
.icon-box {
	margin-left: 20px;
}
.icon-box a {
	color: #ddd;
	margin: 0 5px;
	font-size: 30px;
	transition: color 0.3s;
}
.icon-box a:hover {
	color: #0086f3;
}
