* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 50px;
	font-family: 'Comfortaa', cursive;
	color: #fff;
	background-color: #333;
	font-size: 36px;
}
hr {
	margin: 30px 0;
}
/* Child Selector */
/* div > p {
	color: lime;
} */
/* Adjacent Sibling Selector */
/* div + p {
	color: lime;
} */
/* General Sibling Selector */
div ~ p {
	color: lime;
}
