* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 50px;
	font-family: 'Comfortaa', cursive;
	color: #fff;
	background-color: #333;
	font-size: 36px;
}
div {
	display: block;
	background-color: lime;
	color: #000;
}
p {
	display: block;
	margin: 30px 0;
	background-color: gold;
	color: #000;
}
span {
	display: inline;
	background-color: royalblue;
}
