* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	background-color: #333;
}
p {
	display: none;
}
@media (min-width: 200px) {
	body {
		background-color: gold;
	}
}
@media (min-width: 400px) {
	body {
		background-color: royalblue;
	}
}
@media (min-width: 600px) {
	body {
		background-color: tomato;
	}
	p {
		display: block;
	}
}
