* {
	/* box-sizing: border-box; */
	margin: 0;
	padding: 0;
}

body {
	/* margin: 50px; */
	font-family: 'Comfortaa', cursive;
	color: #fff;
	background-color: #333;
	font-size: 36px;
}

p {
	/* 1.     
 padding-top: 80px;
 padding-right: 40px;
 padding-bottom: 15px;
 padding-left: 5px; */
	padding: 80px 40px 15px 5px;

	/* 2
 padding-top: 10px;
 padding-left: 10px;
 padding-bottom: 10px;
 padding-right: 10px; */
	padding: 10px;

	/* 3
 margin-left: 30px;
 margin-top: 20px;
 margin-right: 30px;
 margin-bottom: 40px; */
	margin: 20px 30px 40px;

	/* 4
 margin-top: 100px;
 margin-right: 50px;
 margin-left: 50px;
 margin-bottom: 100px; */
	margin: 100px 50px;

	/* 1. padding: 20px 30px 40px 50px; */
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 40px;
	padding-left: 50px;

	/* 2. padding: 20px 30px 50px; */
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 30px;

	/* 3. margin: 20px; */
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;

	/* 4. padding: 20px 40px; */
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 40px;
	padding-left: 40px;
}
