* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 50px;
	font-family: 'Comfortaa', cursive;
	color: #fff;
	background-color: #333;
	font-size: 36px;
	height: 200vh;
}
section {
	margin-top: 200px;
}

div {
	margin: 0 auto;
	height: 200px;
	width: 600px;
	border: 3px solid black;
}

.red {
	background-color: tomato;
}

.blue {
	position: sticky;
	top: 0;
	margin: 20px auto;
	background-color: royalblue;
}

.green {
	background-color: greenyellow;
}
.gold {
	position: sticky;
	top: 0;
	height: 100px;
	width: 100px;
	background-color: gold;
}
