* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 80px;
	font-size: 36px;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	background-color: #333;
	color: #fff;
}
p {
	color: gold;

	letter-spacing: 2px;
	word-spacing: 5px;
	/* direction: rtl; */
	text-shadow: 5px 5px 5px #fff;
	/* line-height: 200px; */
}
div {
	margin-top: 30px;
	background-color: royalblue;
	height: 300px;
	text-align: center;
	line-height: 300px;
}
/* a {
	color: white;
	text-decoration: none;
} */

/* .samll {
	text-transform: uppercase;
}
.big {
	text-transform: lowercase;
}
.text {
	text-transform: capitalize;
} */
